{% if inventory_hostname in groups['nc'] %}
{% if use_vlans %}
NAME={{ hostvars[inventory_hostname]['bridge_prefix'] }}{{ hostvars[inventory_hostname]['vlan_tag'] }}
DEVICE={{ hostvars[inventory_hostname]['bridge_prefix'] }}{{ hostvars[inventory_hostname]['vlan_tag'] }}
IPADDR={{ ip.stdout }}
PREFIX={{ prefix.stdout }}
{% else %}
NAME={{ hostvars[inventory_hostname]['bridge_prefix'] }}{{ hostvars[inventory_hostname]['bridge_id'] }}
DEVICE={{ hostvars[inventory_hostname]['bridge_prefix'] }}{{ hostvars[inventory_hostname]['bridge_id'] }}
{% set avnet = 'ansible_' + hostvars[inventory_hostname]['vnet_private'] %}
IPADDR={{ hostvars[inventory_hostname][avnet]['ipv4']['address'] }}
NETMASK={{ hostvars[inventory_hostname][avnet]['ipv4']['netmask'] }}
{% endif %}
IPV6INIT=no
IPV6AUTOCONF=no
DELAY=0
STP=yes
ONBOOT=yes
BOOTPROTO="static"
TYPE="Bridge"
{% endif %}
