{% if inventory_hostname in groups['nc'] %}
{% if use_vlans %}
NAME={{ bridge_prefix }}{{ vlan_tag }}
DEVICE={{ bridge_prefix }}{{ vlan_tag }}
IPADDR={{ ip.stdout }}
PREFIX={{ prefix.stdout }}
{% else %}
NAME={{ bridge_prefix }}{{ bridge_id }}
DEVICE={{ bridge_prefix }}{{ bridge_id }}
{% set avnet = 'ansible_' + hostvars[inventory_hostname]['vnet_private'] %}
IPADDR={{ hostvars[inventory_hostname][avnet]['ipv4']['address'] }}
NETMASK={{ hostvars[inventory_hostname][avnet]['ipv4']['netmask'] }}
{% endif %}
IPV6INIT=no
IPV6AUTOCONF=no
DELAY=0
STP=yes
ONBOOT=yes
BOOTPROTO="static"
TYPE="Bridge"
{% endif %}
