#
# VLAN Auto configuration
#

NAME={{ vlan_iface }}.{{ vlan_tag }}
DEVICE={{ vlan_iface }}.{{ vlan_tag }}
VLAN=yes
ONBOOT=yes
BOOTPROTO=None
IPV6AUTOCONF=no
IPV6INIT=no
NOZEROCONF=yes
{% if inventory_hostname in groups['nc'] %}
{% if use_vlans %}
BRIDGE={{ inventory_hostname['bridge_prefix'] }}{{ inventory_hostname['vlan_tag ']}}
{% else %}
BRIDGE={{ inventory_hostname['bridge_prefix'] }}{{ inventory_hostname['bridge_id'] }}
{% endif %}
{% else %}
IPADDR={{ ip.stdout }}
PREFIX={{ prefix.stdout }}
{% endif %}
