#
# VLAN Auto configuration
#

NAME={{ vlan_iface }}.{{ vlan_tag }}
DEVICE={{ vlan_iface }}.{{ vlan_tag }}
VLAN=yes
ONBOOT=yes
BOOTPROTO=None
IPV6AUTOCONF=no
IPV6INIT=no
NOZEROCONF=yes
IPADDR={{ ip.stdout }}
PREFIX={{ prefix.stdout }}
