#
# VLAN Auto configuration
#

NAME={{ vlan_iface }}.{{ vlan_tag }}
DEVICE={{ vlan_iface }}.{{ vlan_tag }}
VLAN=yes
ONBOOT=yes
BOOTPROTO=None
BRIDGE={{ nc_bridge_prefix }}{{ vlan_tag }}
IPV6AUTOCONF=no
IPV6INIT=no
NOZEROCONF=yes
